* {
    color: lightsteelblue;
    background: darkblue;
}

.tweet-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.tweet-header img {
    display: block;
    width: 35px;
    height: auto;
    margin-right: 16px;
}

.tweet-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
